* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background: #121212;
  color: #fff;
  margin: 0;
  display: grid;
  align-items: center;
}

.app {
  min-width: 320px;
  max-width: 428px;
  height: 100%;
  max-height: 880px;
  width: 100vw;
  font-family: '-apple-system', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.header--help {
  cursor: pointer;
}

.input-area {
  width: 95%;
  height: 70%;
}

.guesses {
  aspect-ratio: 5/6;
  min-width: 0;
  min-height: 0;
  max-height: 70%;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
  grid-gap: 0.5rem;
  justify-self: center;
}

@supports not (aspect-ratio: 5 / 6) {
  .guesses {
    width: 100%;
    max-height: calc((100vw - 1rem) / (5 / 6));
  }
}

.letter {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}

#guess-input {
  position: absolute;
  left: -100000px;
  font-size: 16px;
}

.keyboard {
  display: grid;
  grid-gap: 0.3rem;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.keyboard--row {
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.key {
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  margin: 0.5px;
  border-radius: 8px;
  height: 40px;
  width: 9%;
  font-size: 1rem;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  cursor: pointer;
}

.key--wider {
  width: 60px;
}

.submitted {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: rgba(55, 65, 81, 0.93)
}

.hasLetter {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: rgba(255, 204, 0, 0.895);
}

.correctPlace {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: #4caf50
}